* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}
body {
  background: #ffff80;
}

a {
  color: dimgray;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: darkslategrey;
}
.header {
  width: 100vw;
  height: 30vw;
  background-image: url(assets/floral.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid black;
}
.header .circle {
    display: inline-block;
    background-color: white;
    margin-top: 10vw;
    margin-left: 8vw;
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    border: 1px solid black;
  }

.header p {
  display: inline-block;
  text-align: center;
  word-spacing: 15px;
  font-family: 'Sacramento', cursive;
  color: black;
  font-size: 35px;
  margin-top: 35px;
}

.greeting {
  display: inline-block;
  width: 100%;
  margin-top: 25vw;
  text-align: center;
}
.greeting p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 1vw 8vw;
}

.gallery-wrapper {
  display: inline-block;
  margin-top: 8vw;
  margin-left: 8vw;
}
.gallery-wrapper h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  font-style: none;
  color: black;
  margin-bottom: 1vh;
}
.gallery-wrapper p {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-style: none;
  color: black;
  margin-bottom: 1vh;
}
.gallery {
  display: inline-block;
  width: 42vw;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 2vw;
  margin-bottom: 25px;
  transition: transform .3s;
}
.gallery img {
  width: 42vw;
  height: auto;
}
.desc {
  text-align: center;
  height: 50px;
}
.desc p {
  font-size: 12px;
  padding: 2px 0px 0px 0px;
  font-family: 'Raleway', sans-serif;
}
.desc .price {
  padding-top: 0px;
}
.gallery:hover {
  transform: scale(1.02);
}

@media (min-width: 768px) {
  .header {
    height: 12vw;
  }
  .header .circle {
    margin-top: 6vw;
    margin-left: 8vw;
    width: 12vw;
    height: 12vw;
  }
  .greeting {
    margin-top: 8vw;
  }
  .greeting p {
    font-size: 18px;
  }
  .gallery-wrapper {
    margin-top: 4vw;
  }
  .gallery {
    width: 26vw;
  }
  .gallery img {
    width: 26vw;
    height: auto;
  }
  .desc p {
    font-size: 16px;
    padding: 5px 0px 0px 0px;
  }
}